################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectKwaku/WebUI/bin
/ProjectKwaku/.vs/ProjectKwaku
/.vs
/ProjectKwaku/WebUI/obj
*.user
/ProjectKwaku/Services/obj
/ProjectKwaku/Services/bin/Debug/netcoreapp3.1
/ProjectKwaku/Models/bin/Debug/netcoreapp3.1
/ProjectKwaku/Models/obj
/ProjectKwaku/Repositories/bin/Debug/netcoreapp3.1
/ProjectKwaku/Repositories/obj
/ProjectKwaku/.vs/config
/ProjectKwaku/Models/bin/Release/netcoreapp3.1
/ProjectKwaku/Repositories/bin/Release/netcoreapp3.1
/ProjectKwaku/Services/bin/Release/netcoreapp3.1
