################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectKwaku/WebUI/bin
/ProjectKwaku/.vs/ProjectKwaku
/.vs
/ProjectKwaku/WebUI/obj
