#main-content {
    margin-top: 119px;
    margin-left: 265px;
    height: auto;
    transition: 0.3s;
}

.main-content-minimised {
    margin-left: 70px !important;
}


/* Colours */

.white {
    color: #ffffff;
}

.brand-purple-fg {
    color: #752864;
}

.brand-purple-bg {
    background-color: #752864;
}

body {
    background-color: #f2f3f8;
    color: #434349;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Poppins', Helvetica, sans-serif;
}

img {
    vertical-align: middle;
    border-style: none;
}

button {
    display: inline-block;
    padding: 0;
    border: 0;
    background: 0 0;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover {
    text-decoration: none;
}