#sidebar {
    top: 0;
    width: 265px;
    transition: 0.3s;
}

#sidebar-brand {
    height: 65px;
    background-color: #5e2050;
}

#toggle-icon {
    height: 26px;
    width: 26px;
    fill-opacity: 0.5;
}

.sidebar-menu-link {
    min-height: 44px;
}

.sidebar-menu-icon {
    flex: 0 0 35px;
}

    .sidebar-menu-icon > svg {
        height: 23px;
        width: 23px;
        margin-left: -2px;
        fill-opacity: 0.5;
    }

.sidebar-menu-text {
    opacity: 0.7;
    white-space: nowrap;
}

.sidebar-menu-section {
    height: 40px;
}

.sidebar-menu-section-text {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    opacity: 0.3;
}

/* Sidebar Minimised */

.sidebar-minimised {
    width: 70px !important;
}

    .sidebar-minimised #sidebar-brand {
        justify-content: center;
    }

    .sidebar-minimised #sidebar-brand-logo {
        display: none;
    }

    .sidebar-minimised #toggle-icon {
        transform: rotate(180deg);
    }

    .sidebar-minimised .sidebar-menu-text {
        visibility: hidden;
    }

    .sidebar-minimised .sidebar-menu-section {
        visibility: hidden;
    }

    .sidebar-minimised .sidebar-menu-bullet-dot {
        align-items: center;
        justify-content: center;
    }

    .sidebar-minimised .checklist-item {
        visibility: hidden;
    }

.active .sidebar-menu-link {
    background-color: #5e2050;
}

.active .sidebar-menu-text {
    color: #ffffff;
    opacity: 1.0;
}

/* Active */

.active .sidebar-menu-icon > svg {
    fill-opacity: 1.0;
}

/* Hover */
#sidebar-toggle :hover {
    fill-opacity: 1.0;
}

.sidebar-menu-item:hover {
    background-color: #5e2050;
}
